@r:30rem;

ul{padding: 0;margin: 0;list-style: none;}
html{
    width: 100vw;
    height:100vh;
    font-size: 1.5625vw;
} 
body{
    width: 100vw;
    height:100vh;
    margin: 0;
}
.ant-layout{
    background: none;
}
.ant-layout-sider{
      background: #fff;
}
.trigger {
      font-size: 20/@r !important;
      padding: 35/@r 18/@r;
      cursor: pointer;
      transition: color 0.3s;
 }
#logo{
    width: 134/@r;
    height: 40/@r;
    vertical-align: middle;
    margin-top: -15/@r;
    margin-right: 20/@r;
}  
#components-layout-demo-custom-trigger .trigger:hover {
    color: #1890ff;
}   
.site-layout .site-layout-background {
    background: #fff;
}
.ant-menu{
    display: inline-block;
    line-height: 100/@r;
    border:none;
}
.ant-layout-header{
    height: 100/@r;
    padding: 0;
}
.ant-menu-item{
    font-size: 20/@r;
}

@keyframes scroll {
    0%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }

    50%, 52% {
        -webkit-transform: translateY(-40%);
        transform: translateY(-40%);
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
    }
}
.v-detail { position: relative; background-color: #000; }
.v-top-bar { position: relative; padding-bottom: 20%;  overflow:hidden; }
.v-top-bar img {
    position: absolute;
    top: 0;
    width: 100%;   
}
.bar-on{
    -webkit-transform-origin: center bottom;
   -ms-transform-origin: center bottom;
   transform-origin: center bottom;
   -webkit-animation: scroll 30s .1s infinite both;
   animation: scroll 30s .1s infinite both;
}
.v-top-bar-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
}
.v-top-bar .v-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 66/@r;
    background-color: rgba(0,0,0,.5);
    padding-left: 20.83%; 
}
.v-top-bar .v-title h2 { display: inline-block; color:#fff; font-size: 36/@r;}
.v-top-bar .v-title span { margin-left:15/@r; font-size:14/@r; font-weight: 600; color: #fff;}
.v-top-bar .v-title span.tagline { color:#999; }
.navigation { font-size: 16/@r; margin: 10/@r 0;color: #dad9d9;  }
.navigation a{ color: #dad9d9; }

.v-detail-box { position:relative; width:100%; padding: 10/@r; background: rgba(0,0,0,.7); color: #fff; }
.v-left-box { padding: 0 20/@r; margin-top: -120/@r; width:100%;}
.v-poster { text-align: center; width: 100%; }
.v-poster a { display: inline-block; position:relative; }
.v-poster img { width:100%; }
.v-poster-bg { position:absolute; top:0;left:0; width:100%; height:100%; background :rgba(0,0,0,.5); }
.v-poster-bg-item { position:absolute; top: 30%; left:40%; color:#fff; }
.v-poster-bg-item i, .v-poster-bg-item span { display: block; }
.v-watch-btn { position:relative; text-align: center; padding: 20/@r 8/@r 10/@r;}
.v-watch-btn div{
    margin-bottom:13/@r;
}
.v-watch-btn div img{
    margin-top: 15/@r;
}
.v-watch-btn div>span{
    position: absolute;
    top: 10/@r;
    left: 0;
}
.v-watch-btn .now { 
    display: block;
    background-color: #CC3333;
    color: #fff;
    font-size: 16/@r;
    font-weight: 600;
    padding: 15/@r 0;    
    border-radius: 30/@r;
}
.v-watch-btn .source { 
    display: block;
    background-color: #3C3C3C;
    color: #fff;
    font-size: 16/@r;
    font-weight: 600;
    padding: 15/@r 0;    
    border-radius: 30/@r;
    margin-top:8/@r;
}
.v-detail-desc { font-size: 16/@r; }
.v-detail-desc .title h2 { display: inline-block; }
.v-detail-desc .title span { margin-left:15/@r; font-size:14/@r; font-weight: 600; }
.v-detail-desc .title span.tagline { color:#999; }
.v-detail-desc .rating span { padding: 5/@r 10/@r; margin-right:3px; }
.v-detail-desc .rating a { color: #e9e9e9;  }
.v-detail-desc .addition {color: #e9e9e9; font-size:13/@r; margin-top: 10/@r; line-height: 20/@r; }
.v-detail-desc .addition div{color:#fff}
.v-detail-desc .summary { margin-top: 10/@r;  color: #999; }
.v-detail-desc .summary p { color: #e9e9e9; font-size:13/@r; font-weight:normal; }
.v-detail-desc .summary p a { color:#e9e9e9; font-size:13/@r; font-weight:normal;  }

.summary_left{position:relative}
#dd-summary{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-height:90/@r;
}
.summary_left span{
    color: #fff;
    font-size: 12/@r;
    text-decoration: underline;
    cursor: pointer;
    padding-left: 17/@r;
    padding-right:6/@r; 
    position: absolute;
     bottom: 0; 
     right: 0; 
     background: #000;
}
.icon_R{
    background-color: #666; 
    border-radius: 6/@r; 
    padding: 2px 8/@r; 
    font-size: 14/@r;
}
.icon-star{
    color:#FFCC00;
    padding: 0 !important;

}

.v-detail-xps { position:relative; min-height:300/@r; }
.v-detail-xps img { max-width:100%; height: 300/@r; }
.v-detail-xps-desc { position: absolute; top: 40/@r; left: 45/@r; text-align:left; }
.v-detail-xps-desc h3 { margin:0; padding:0; font-size: 30/@r; font-weight: 600; max-width: 330/@r; color:#fff; line-height: 33/@r; }
.v-detail-xps-desc span { display:inline-block; font-size: 13/@r; color: #ccc; margin:10/@r 0; }
.v-detail-xps-desc a {
    display: block;
    background-color: #CC3333;
    color: #fff;
    font-size: 16/@r;
    font-weight: 600;
    padding: 15/@r 0;
    border-radius: 30/@r;
    text-align: center;
    margin-top: 20/@r;
}

.v-detail-box-show { margin: 20/@r 0; }
.v-detail-box-show h2 { font-size:20/@r; color:#fff }
.v-detail-box-show .video-img { padding:0 5px; }
.v-detail-box-show .video-list { height: 500/@r; padding:0 5/@r; overflow: scroll; overflow-x: hidden;}
.v-detail-box-show .video-list li { position:relative;  margin-bottom: 8/@r; cursor: pointer; border:#333 1/@r solid; height: 120/@r; }
.v-detail-box-show .video-list li img { width: 100%; height:100%; }
.video-list::-webkit-scrollbar {
    width: 8/@r;
    background-color: #666;
}
.video-list::-webkit-scrollbar-thumb {
    background-color: #444;
    border:#666 1px solid;
    border-radius: 4px;
}
#ad_0901{
    position:absolute; 
    bottom:0; 
    padding:10/@r 15/@r; 
    font-size:14/@r; 
    color:#fff; 
    background-color:rgba(0,0,0,.6); 
    width:100%;
}
#ad_0901 span:nth-of-type(1){
    line-height:30/@r;
}
#ad_0901 span:nth-of-type(2){
    position:absolute; 
    bottom:50/@r; 
    right:10/@r; 
    cursor:pointer;
}
#ad_0901 a{
    float: right; 
    color: #000; 
    background-color: #32CC6C; 
    border-radius:5px; 
    padding:5px 15px;
}
.icon-v-watch{
    position: absolute;
    right: 5/@r;
    bottom:5/@r;
    font-size: 30/@r;
    font-weight: bold;
    color: #fff;
}
#player-box iframe{
    width:100%; 
    height:500px;
    border:none;
}

.v-detail-box-show-title{
    padding: 0;
}
.v-detail-box-show-title ul li { float:left; margin-right:20/@r; font-size: 16/@r; font-weight: 600; cursor:pointer; }

.v-cast-thumb { float:left; width:32%; height:100%; margin: 0 0.5%; padding: 10/@r; padding-top:15/@r; background-color: #1B1B1B; }
.v-cast-thumb-title { position:relative; background-color: #282828; padding: 5px 8px; }
.v-cast-thumb-title img {
    width: 45/@r;
    height: 68/@r;
    position: absolute;
    top: -5px;
    left: 10/@r;
}
.v-cast-thumb-title .x { padding-left: 65/@r; height: 50/@r; }
.v-cast-thumb-title a { display:block;  color:#fff; }
.v-cast-thumb-title span {
    display: block;
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.v-cast-thumb-list { padding-left:40/@r; margin-top:10/@r; }
.v-cast-thumb-list li { margin: 5px 0; position:relative; }
.v-cast-thumb-list a{
    display: block;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.v-cast-thumb-list .free { position:absolute; top:3px; left:-40/@r; font-size:10px;line-height:1; background-color:#CC3333; padding:2px 6px; border-radius:5px; }
#cast_video{
    margin-top: 10px; 
    height:360/@r;
}
.v-cast-thumb-list li a{
    color:#696a6e;
}

.v-detail-box-show .recommend { position: relative; margin-top:10px; }
.recommend-box { 
    display: flex;
    justify-content: space-between;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-thumb{
    height:280/@r;
    float: left;
    position: relative;
    padding: 0 5px;
    margin-bottom: 15/@r;
    overflow: hidden;
}
.recommend-box .item-widget {height: 250/@r;}
.recommend-box .item-widget img { height:250/@r;width: 167/@r;}
.item-thumb .item-bg{
    display: none;
    position: absolute; 
    left: 0;
    top: 0; 
    width: 167px;
    height: 100%; 
    background: rgba(0,0,0,.6);
    color:#fff;
    box-sizing: border-box;
}
.item-thumb .item-bg-tit{
    position: relative;
}
.item-thumb .item-bg p{
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    margin: 30/@r 30/@r 0 5px;
    box-sizing: border-box;
}
.item-bg-tit .rightoutlined{
    position: absolute;
    top: 7px;
    right: 15/@r;
}
.item-bg .item-bg-year{
    text-align: left;
    padding-left: 5px;
}
.icon-play-watch{
    display: block;
    font-size: 30/@r;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin-top: 35%;
}
.item-thumb .name{
    display: block;
    width: 167/@r;
    font-size: 14/@r;
    color:#fff;
    font-weight: 700;
    padding-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}

.subscribe {padding: 20/@r 0; }
.subscribe-title { font-size: 15px; font-weight: 600; color: #fff; }
.subscribe-box { margin-top: 10px; }
.subscribe-box .email { background-color: #fff; padding: 8px 10px; width: 70%; border: none; }
.subscribe-box .btn { 
    border:none; 
    padding: 8px 10px; 
    background-color: #99CC33; 
    margin-left: 20/@r; 
    color: #000;
    font-size: 14px; 
    font-weight: normal;
    cursor: pointer;
 }
#message_x{
    margin-top:10px; 
    display:none; 
    color:#666;
}
#error_x{
    margin-top:10px; 
    display:none; 
    color:#f00;
}
.subscribe .primeWrap{
    float:left;
    height:65/@r;
}
.subscribe .primeWrap img{
    height: 100%;
}
.subscribe .subscribeTxt{
    float: left; 
    color: #fff; 
    padding: 12px 0; 
    padding-left: 20px;
}
.subscribe .tryFree{
    float: left; 
    color: #fff; 
    margin: 11px 0;
    margin-left: 15px;
    padding: 10px 8px; 
    text-align: center;
    background: #0099FF; 
}

.footer-seolink {font-size: 12px; color: #696a6e; }
.footer-seolink-layer { padding: 20/@r 0; line-height:30px; text-align:center }
.footer-seolink-layer .link { margin:0 20/@r; color:#696a6e }
.footer-seolink-layer .share { display: inline-block; vertical-align: middle; font-size: 28/@r; margin:0 8px; }
.copyright { text-align: center; padding-bottom:20/@r; }